
/* * {
    margin: 0;
    padding: 0;
} */

/*
    Ajeitar o resto do aling via px
*/

html {
    margin: 0;
    height: 100%;            
}

body {
    margin: 0;
    padding: 0;
    min-height: 500px;
    box-sizing: border-box;
    /*overflow-x: hidden; /*Esconde a barra de rolagem horizontal */
    overflow-x: auto;
    /*
        Pra ajustar o background 
        → fazer o main-content ser uma row que tem 3 colunas
            → bg L / Content / bg R
            → ai o conteudo do Content pode de boa ultrapassar o bg R, semelhante
            ao que acontece no 'Compara Celular' 
    */
}

  .container-fluid {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

#main-content {
    height: 100%;
    width: 100%;
}

/* content */

.add .a {
    position: fixed;
    height: 100vh;
    width: 10vw;
    background-color: rgb(236, 244, 244);
}

.add .b {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    height: 100vh;
    width: 10vw;
    background-color: rgb(236, 244, 244);
    z-index: -10;
}

#comp-box {
    margin-top: 0%;
    margin-left: 0px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255) !important;
    z-index: 1;
} 

.pokemons{
    height: fit-content;
}

.pokemons #align-img {
    min-width: fit-content;
    max-width: fit-content;
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 0px;
    padding-left: 0px;
}

.pokemons #align-img #row-card .col {
    border: 1px solid green;
    min-width: 180px;
}

.pokemons #align-img #row-card #card {
    margin-left: 5px;
    
}

.pokemons #align-img #row-card #card #x {
    max-height: 15px;
    padding: 0px 0px 0px 0px;
}

#x div {
    width: 85%;    
}

#x p {
    border-radius: 24px;
    padding: 0px 6px 10px 6px;
}

#x p:hover {
    cursor: pointer;
    background-color: rgba(200, 0, 0, 0.2);
}

.pokemons .row .col {
    
    padding-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
                                
.pokemon-card {
    width: 80%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: white;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.pokemons .row .col img {
    width: 150px;
    border-radius: 12px;
}

.status {
    padding: 30px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.status #cell-1 {
    margin-top: 0px;
}

.status .col {
    padding-left: 0px;
}

.status .cell {
    margin-top: 90px;
}

.status .cell #cell-head {
    margin-bottom: 0px;
    margin-top: 10px;
}

.status .col .t-bg{
    color: white;
    width: fit-content;
    height: fit-content;
    background-color: orange;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.status .col .t-bg h5 {
    width: 234px;
    margin-bottom: 0px;
    margin: auto;
}

.status .cell .col .oranje {
    margin-top: 0px;
    width : 800px;
    height: 3px;
    background-color: orange;
}

.status .cell #r-i {
    min-width: fit-content;
    max-width: fit-content;
    margin-bottom: 2px;
    margin-left: 0px;
}

.status .cell #r-i .col {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(140, 140, 140, 0.2);
}

.status .cell #r-p {
    min-width: 800px;
    max-width: 800px;
    margin-bottom: 2px;
    margin-left: 0px;
}

.status .cell #r-p .col {
    padding-top: 1%;
    padding-bottom: 1%;
}
.status .row #infos {
    margin-left: 5px;
    color: rgb(165, 42, 42); /* A decidir */
}

.status .cell .row p {
    min-width: 180px;
    max-width: 180px;
    margin: auto;
}

/* Footer */
.footer {
    margin-top: 100px;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    flex-shrink: 0;
    /* Adicionado */
  }

  .footer-title {
    color: #fff;
  }

  .footer-list {
    list-style: none;
    padding: 0;
  }

  .footer-list li {
    margin-bottom: 10px;
  }

  .footer-list li a {
    color: #fff;
    text-decoration: none;
  }

