
.footer-box {
  width: 100vw;
  height: fit-content;
  margin: 0px 0px 0px 0px;
  background-color: #eb932f;
}

.footer-box .c {
  max-width: 200px;
  min-width: 200px;
}

.c .topic {
  color: white;
  padding: 10px 0px 0px 0px;
}
.c a {
  color: black;
}