
.header {
  position: fixed;
}

#res {
  width: 80%;
  height: fit-content;
  margin-right: 5%;
  margin-left: 5%;
  color: black;
  display: inline;
  margin: 0;
  padding: 0;
  /* display: inline; */
  list-style-type: none;
}

#res li {
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: background-color 0.25s;
}

#res #nn {
  cursor: context-menu;
}


#res #resLi:hover {
  cursor: pointer;
  /*background-color: rgba(255, 202, 113,0.95);*/
  /*background-color: rgba(156, 157, 254, 0.95);*/ 
  background-color: rgba(191, 191, 191,0.95);
}

#res li:not(:hover) {
  background-color: rgba(255, 255, 255, 0.95);
}



#iten {
  margin-left: 7px;
  background-color: rgba(255,255,255, 0.95);
}





