<!--
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5 class="footer-title">Sobre Nós</h5>
                <ul class="footer-list">
                    <li><a href="/">Quem somos?</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <h5 class="footer-title">Nossas Políticas</h5>
                <ul class="footer-list">
                    <li><a href="/">Coleta e Armazenamento de Dados</a></li>
                    <li><a href="/">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <h5 class="footer-title">Ajuda</h5>
                <ul class="footer-list">
                    <li><a href="/">Fale Conosco</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
-->
<div class="row footer-box"> 
    <div class='col c'>
            <h5 class="topic"><a href='https://www.petz.com.br/?gad_source=1&gclid=Cj0KCQjwz7C2BhDkARIsAA_SZKZ7OhZ6ffjOJPUsa8WCyeOoSfQQ0IR7Ty21Ouw8xnXv1n8B6xyGrvwaAnyaEALw_wcB'>Sobre nós</a></h4>
            <a href="">Nossa empresa</a>
            <a href="">Acerca do site</a>
        </div>
        <div class='col c'>
            <h5 class="topic">Nossas políticas</h4>
            <a href="">Política de coleta e armazenamento de dados</a>
            <a href="">Política de privacidade</a>
        </div>
        <div class='col c'>
            <h5 class="topic">Ajuda</h4>
            <a href="">Suporte</a>
        </div>
   </div>
</div>