<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5 class="footer-title">Sobre Nós</h5>
                <ul class="footer-list">
                    <li><a href="/">Quem somos?</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <h5 class="footer-title">Nossas Políticas</h5>
                <ul class="footer-list">
                    <li><a href="/">Coleta e Armazenamento de Dados</a></li>
                    <li><a href="/">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <h5 class="footer-title">Ajuda</h5>
                <ul class="footer-list">
                    <li><a href="/">Fale Conosco</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>