<div class="header" style="position: fixed;">
  <link rel ="stylesheet" type ="text/css" href ="/styles/header.css">
  <div class="row" id="header-box">
    <div class="col-3" id="site-name">
      <a href="/" class="link-body-emphasis">
        <img src="image/Logo-site.webp" alt="Guia Canino" class="img-fluid">
      </a>
      
    </div>
    
    <div class="col-5" id="searchbar">
        <div class="col">
          <form id="searchForm" method="GET">
            <div class="input-group rounded">
              <input type="search" id="searchInput" name="dog" class="form-control rounded" placeholder="Busque por um pet..." aria-label="Search" aria-describedby="search-addon" />
            </div>
          </form>
          <ul class="searchRes" id="res"></ul>
           
        </div>
      
    </div>

    
    <div id="headerButtons" class="col-4 d-grid gap-2 d-md-block">
      <a href="login">
        <button id="entrarButton" class="btn btn-primary" type="button">Entrar</button>
      </a>
      <a href="perfil">
        <button  id="perfilButton" class="btn btn-primary" type="button">Opções</button>
      </a>
      
      <button id="sairButton" class="btn btn-danger" type="button">Sair</button>
    </div>
  </div>
</div>
