<div class="header" style="position: fixed;">
  <div class="row" id="header-box">
    <div class="col-3" id="site-name">
      <a href="/" class="link-body-emphasis">
        <img src="image/Logo-site.webp" alt="Guia Canino" class="img-fluid">
      </a>
      
    </div>
    
    <div class="col-5" id="searchbar">
        <div class="col">
          <form id="searchForm" method="GET">
            <div class="input-group rounded">
              <input type="search" id="searchInput" name="dog" class="form-control rounded" placeholder="Busque por um pet..." aria-label="Search" aria-describedby="search-addon" />
            </div>
          </form>
          <ul class="searchRes" id="res"></ul>
           
        </div>
      
    </div>
    
    <div class="col-4" id="itens">
      <div class="dropdown unclickable">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Meu Guia
        </button>
        <div class="dropdown-menu" aria-labelledby="dLabel">
          <a href="/" class="dropdown-item">Tela Principal</a>
          <a href="/about" class="dropdown-item">Sobre nós</a>
          <a href="/opcoes" class="dropdown-item disabled">Opções</a>
          <div class="dropdown-divider">item 4</div>
          <a href="/login" class="dropdown-item">Entrar</a>
        </div>
      </div>
    </div>
  </div>
</div>
